.professionalExperienceContainer {
    padding-top: 100px;
}

.job-card {
    border-left: 4px solid #000;
}

.company-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}
.company-image-top {
    max-height: 150px;
    object-fit: cover;
}



.job-card-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.job-card-content {
    flex: 1;
}

.job-date {
    color: gray;
    text-align: end;
}