<div class="mainContainer">
<h1 class="offset-md-2">Contact</h1>
<div class="card col-md-8 offset-md-2">
    <div class="card-body">
        <div class="contactField">
            <i class="bi bi-mailbox2"></i>
            <a href="mailto:example@example.com">clement.torti@hotmail.fr</a>
        </div>

        <div class="contactField">
            <i class="bi bi-linkedin"></i>
            <a href="https://www.linkedin.com/in/cl%C3%A9ment-torti/" target="_blank">linkedin.com/in/clément-torti/</a>
        </div>

        <div class="contactField">
            <i class="bi bi-github"></i>
            <a href="https://github.com/Clement-Torti" target="_blank">github.com/Clement-Torti</a>
        </div>

        <div class="contactField">
            <i class="bi bi-whatsapp"></i>
            🇫🇷 <a href="https://wa.me/33625773194" target="_blank">+33 6 25 77 31 94</a>
        </div>

        <div class="contactField">
            <i class="bi bi-filetype-pdf"></i>
            🇫🇷 <a href="assets/pdfs/CV_Francais.pdf" download>CV Français</a>
        </div>

        <div class="contactField">
            <i class="bi bi-filetype-pdf"></i>
            🇬🇧 <a href="assets/pdfs/CV_English.pdf" download>English CV</a>
        </div>

        <div class="contactField">
            <i class="bi bi-filetype-pdf"></i>
            🇪🇸 <a href="assets/pdfs/CV_Espanol.pdf" download>CV Español</a><br/>
        </div>
      
    </div>
</div>
<div class="col-md-12 endMessage">
    <h1>See you soon :)</h1>
</div>
</div>
