.profilePicture {
  width: 35px; 
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.collapseItemsView {
  position: fixed;
  top: 60px;
  background-color: rgb(40, 40, 40);
  padding: 30px;
  color: white;

  z-index: 10;
  animation-name: appear;
  animation-duration: 1s;

}
@keyframes appear {
  from {top: -200px;}
  to {top: 60px;}
}
