<div class="mainContainer row">
    <h1 class="col-md-8 offset-md-2">Hobbies</h1>
    <div class="btn-group col-md-8 offset-md-2" role="group" aria-label="Font Style">
        <button type="button" class="btn btn-primary-custom btn-block" *ngFor="let category of hobbyCategoryValues()" [value]="category"  (click)="onCategoryChange(category)">
            {{ category }}
        </button>
    </div>

    <div class="customCarousel col-md-8 offset-md-2">   
        <div *ngFor="let hobby of filteredHobbies" class="col-md-6 col-sm-12 col-12 hobbyElement">
            <app-hobby-card  [hobby]="hobby"></app-hobby-card>
        </div>
    </div>

       
</div>

