<div *ngIf="module" class="card">
    <div class="card-header">
        <div class="hourContainer">
            <span class="hourLabel">{{ module.hoursOfStudies }}h</span>
        </div>
        <h5 class="card-title">
            {{ module.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ module.school }}
        </h6>
    </div>
    <div class="card-body">
        {{ module.description }}
        <hr>
        References: <br>
        <div *ngFor="let ref of module.references">
            {{ ref }}
        </div>
    </div>
</div>
