<div class="row justify-content-center mainContainer">
  <div class="col-md-8 row mb-3">
    <h1>Projects</h1>

    <!-- Project Card  -->
    <div class="projectContainer"></div>
    <div [class]="selectedProject === project ? 'activeProject card col-lg-3 col-md-6 col-sm-6 mb-1 mr-1' : 'card col-lg-3 col-md-6 col-sm-6 mb-1 mr-1'" *ngFor="let project of projects" (click)="showProjectDetails(project)">
      <a class="nav-link" href="#projectDetails">
      <div >
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.languages.join(' ')}}</p>
        </div>
      </div>
      </a>
    </div>
  </div>
  <!-- Project details -->
  <div #projectDetails id="projectDetails" *ngIf="selectedProject" class="col-md-8">
    <app-project-details [project]="selectedProject"></app-project-details>
  </div>
</div>
