<div class="row justify-content-center mainContainer">
  <div [class]="selectedProject ? 'col-md-4' : 'col-md-8 row'">
    <h1>Projects</h1>
    <div [class]="selectedProject ? 'card mb-3' : 'card col-md-3 mb-3 ml-3'" *ngFor="let project of projects" (click)="showProjectDetails(project)">
      <div [class]="selectedProject === project ? 'activeProject' : ''">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.languages.join(' ')}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedProject" class="col-md-8">
    <app-project-details [project]="selectedProject"></app-project-details>
  </div>
</div>
