<div *ngIf="school" class="schoolMainContainer">
    <img *ngIf="isOdd" class="schoolPicture" data-id="schoolPicture" [src]="school.imagePath"  alt="School Picture">
    
    <div [class]="isOdd ? 'schoolInfoContainerOdd' : 'schoolInfoContainerPar'">
        <h3 class="titleLabel"> {{ school.title }} </h3>
        <h5 class="yearsLabel">
          {{ school.years }}, {{ school.location }}
        </h5>
        <a [href]="school.link" >{{ school.link }}</a>
        <p class="descriptionLabel"> {{ school.description }} </p>
    </div>

    <img *ngIf="!isOdd" class="schoolPicture" data-id="schoolPicture" [src]="school.imagePath"  alt="School Picture">

</div>