.schoolMainContainer {
    display: flex;
    flex-direction: wrap;
    margin-bottom: 30px;
}

.schoolPicture {
    width: 250px; 
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);  
}

.titleLabel {
    margin-bottom: 0px;
}

.yearsLabel {
    color: #808080;
}

.descriptionLabel {
    text-align: justify;
}

.schoolInfoContainerOdd {
    margin-left: 15px;
}

.schoolInfoContainerPar {
    margin-right: 15px;
    text-align: right;
}