<nav>
    <ul>
      <li><a [routerLink]="['/aboutMe']" routerLinkActive="defineClass']">About me</a></li>
      <li><a [routerLink]="['/education']" routerLinkActive="defineClass']">Education</a></li>
      <li><a [routerLink]="['/projects']" routerLinkActive="defineClass']">Projects</a></li>
      <li><a [routerLink]="['/profesionalExperience']" routerLinkActive="defineClass']">Profesional experience</a></li>
      <li><a [routerLink]="['/hobbies']" routerLinkActive="defineClass']">Hobbies</a></li>
      <li><a [routerLink]="['/contact']" routerLinkActive="defineClass']">Contact</a></li>
    </ul>
</nav>
  