<h2 data-id="fullNameLabel">Clément Torti</h2>
<h2 data-id="jobLabel">
    Software engineer
    Fullstack developer
</h2>
<h2 data-id="nationalityLabel">French</h2>
<h2 data-id="ageLabel">24 yo</h2>
<h2 data-id="drivingLicenseLabel">Driving license</h2>
<p data-id="descriptionLabel">
    ”Passionate about computer science, I like to explore 
    new technologies and collaborate in team. 
    I would like to join a team of developers working 
    in agile mode in a dynamic and innovative company.”
</p>

<ul data-id="jobPrerequisitesList">
    <h2>Looking for a VIE</h2>
    <li> One </li>
    <li> Two </li>
</ul>

<h2 data-id="timelineElement">TimeLine</h2>