<div class="mainContainer row">
    <!-- Schools -->
    <div class="schoolsContainer col-md-8 offset-md-2">
        <h1 class="sectionTitle">
            Schools
            </h1>
            <app-school-card *ngFor="let school of schools; let i = index" [school]="school" [isOdd]="i % 2 === 0"></app-school-card>
    </div>

    <!-- Modules -->
    <div class="modulesContainer col-md-8 offset-md-2">
        <h1 class="sectionTitle">
            Modules studied
        </h1>

        <div class="btn-group col-md-12" role="group" aria-label="Font Style">
            <button type="button" class="btn btn-primary-custom" *ngFor="let category of moduleCategoryValues()" [value]="category" (click)="onCategoryChange(category)">
                {{ category }}
            </button>
        </div>
        

        <!-- <div class="moduleCard" *ngFor="let module of filteredModules">
            <app-module-card  [module]="module"></app-module-card>
        </div> -->

        
    <div class="customCarousel col-md-12">   
        <div *ngFor="let module of filteredModules" class="col-md-6 moduleElement">
            <app-module-card  [module]="module"></app-module-card>
        </div>
    </div>
    </div>
  
  </div>
  