.mainContainer {
    padding-top: 100px;
}

.schoolsContainer {
    margin-bottom: 100px;
}

.customCarousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.moduleElement {
    padding: 20px;
}
