<div *ngIf="project" class="container">
    <div class="row">
      <div class="">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }} ({{ project.projectCategories.join(", ")}})</h5>
            <lib-ytplayer class="videoPlayer" *ngIf="project.videoLink" [videoId]="extractVideoId(project.videoLink)!"></lib-ytplayer>
            <br />
            <p class="card-text">{{ project.description }}</p>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <p><strong><i class="bi bi-building"></i></strong> {{ project.entity }}</p>
                <p><strong><i class="bi bi-calendar3"></i></strong> {{ project.date }}</p>
                <p><strong><i class="bi bi-briefcase"></i></strong> {{ project.role }}</p>
                <p><strong><i class="bi bi-people"> Team members</i><p *ngIf="project.teamDescription">({{ project.teamDescription }})</p></strong></p>
                <ul>
                  <li *ngFor="let member of project.teamMembers">{{ member }}</li>
                </ul>
              </div>
              <div class="col-md-6">
                <p><strong><i class="bi bi-code"> Programming languages</i></strong></p>
                <ul>
                  <li *ngFor="let language of project.languages">{{ language }}</li>
                </ul>
                <p><strong><i class="bi bi-code-slash"> Technologies</i></strong></p>
                <ul>
                  <li *ngFor="let technology of project.technologies">{{ technology }}</li>
                </ul>
              </div>
            </div>
            <hr>
            <p><strong><i class="bi bi-tools"> Acquired Skills:</i></strong></p>
            <ul>
              <li *ngFor="let skill of project.acquiredSkills">{{ skill }}</li>
            </ul>
            <p><strong><i class="bi bi-github"></i></strong> <a href="{{ project.githubLink }}" target="_blank"> {{ project.githubLink }}</a></p>
            <div *ngIf="project.reportPath" class="report">
              <p>
                <strong>Download report: <a [href]="'assets/pdfs/' + project.reportPath" download>{{ project.reportPath }}</a>
                </strong> 
              </p>
              <ngx-extended-pdf-viewer
              [src]="'assets/pdfs/' + project.reportPath"
              [height]="'700px'" 
              [useBrowserLocale]="true" 
              [showToolbar]="false"
              [backgroundColor]="'transparent'"
              ></ngx-extended-pdf-viewer>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  