<div class="container mainContainer">
    <div class="row">
      <div class="col-md-6 infoContainer">
        <div class="headerSubContainer">
          <img class="profilePicture" data-id="profilePicture" src="assets/images/profile-picture.jpg" alt="My Profile Picture">
  
          <div class="headerTitleContainer">
            <p class="fullNameLabel" data-id="fullNameLabel">Clément Torti</p>
            <h2 class="jobLabel" data-id="jobLabel">
              Software engineer <br/>
              Fullstack developer
            </h2>
          </div>
        </div>
  
        <div class="row cardsContainer ">
          <div class="col-md-2 cardElement">
            <h5 data-id="nationalityLabel">French</h5>
          </div>
  
          <div class="col-md-2 cardElement">
            <h5 data-id="ageLabel">24 yo</h5>
          </div>
  
          <div class="col-md-2 cardElement">
            <h5 data-id="drivingLicenseLabel">Driving license</h5>
          </div>
        </div>
  

  
        <div class="prerequisitesContainer col-md-6">
          <h1 class="vieLabel"><b>Searching for a VIE</b></h1>
          <ul class="jobPrerequisitesList" data-id="jobPrerequisitesList">
            <li><i class="bi bi-globe"></i> Latinoamerica</li>
            <li><i class="bi bi-clock"></i> 1-2 years</li>
            <li><i class="bi bi-calendar"></i> Available from mid-September</li>
            <li><i class="bi bi-people"></i> Agile team</li>
            <li><i class="bi bi-briefcase"></i> Open to any sector</li>
          </ul>
        </div>
        
        
      </div>
      <div class="col-md-6 CVContainer d-flex flex-column align-items-center">
        <p class="descriptionLabel col-md-12" data-id="descriptionLabel">
          <i>”Passionate about computer science, I like to explore new technologies and collaborate in a team. I would like to join a team of developers working in agile mode in a dynamic and innovative company.”</i>
        </p>
        <img class="CVImage" data-id="CVImage" [src]="cvPath" alt="My CV">
      </div>
      
      
      
    </div>
  </div>
  