.mainContainer {
    padding-top: 100px;
}

/* ------------ */
/* Left column */
.infoContainer {
}


/* Header */
.headerSubContainer {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.headerTitleContainer {
    margin-left: 20px;
}

.profilePicture {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.fullNameLabel {
    font-size: 35px;
    font-weight: bold;
}

.jobLabel {
    color: rgb(96,96,96);
}

/* Cards */

.cardsContainer {
    display: flex;
    flex-direction: wrap; 
    margin-bottom: 30px;
}

.cardElement {
    display: flex;
    align-items: center;
    padding: 15px 10px 10px 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
}

/* Description */
.descriptionLabel {
    margin-bottom: 30px;
    max-width: 550px;
}

/* Prerequisites */
.prerequisitesContainer {
  background-color: #f8f9fa;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  border: 3px solid #61380B;
}


.vieLabel {
  font-size: 24px;
  margin-bottom: 10px;
  animation: textColorAnimation 3s linear infinite alternate;
}

@keyframes textColorAnimation {
  0% {
    color: #61380B; /* Black */
  }
  50% {
    color: #000000; /* Custom color */
  }
  100% {
    color: #61380B; /* Black */
  }
}





.jobPrerequisitesList {
  list-style: none;
  padding: 0;
}

.jobPrerequisitesList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.jobPrerequisitesList li i {
  margin-right: 5px;
  color: #2185bf;
}

@keyframes borderAppear {
  0% {
    border-color: transparent;
    opacity: 0;
  }
  50% {
    border-color: #ffcc00;
    opacity: 1;
  }
  100% {
    border-color: transparent;
    opacity: 0;
  }
}

/* CV */
.CVContainer {
    height: 70vh;
    margin-bottom: 100px;
}

.CVImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);  
    transition: transform 0.3s;
}

.CVImage:hover {
    transform: scale(1.3);
    cursor: pointer;
    
}

.CVImage:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .CVImage:hover::after {
    opacity: 1;
  }
  
